<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Aplicación de pedidos{% endblock %}</title>
</head>
<body>
<header>
    {{ include('cabecera.html.twig') }}
</header>
<hr>
{% block body %}{% endblock %}
</body>
</html>